In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [7]:
tmp = df['last'] == 'Schafer'

In [10]:
tmp

0     True
1    False
2    False
Name: last, dtype: bool

In [9]:
df[tmp]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [8]:
df.loc[tmp]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com

In Pandas,
<br>& is used for and
<br>
| is used for or

In [12]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [15]:
df.loc[filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [16]:
df.loc[~filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com

In [13]:
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [17]:
df.loc[~filt, 'email']

1    JaneDoe@email.com
Name: email, dtype: object